## Pandas SQL - part 3

In [1]:
import numpy as np 
import pandas as pd 
import json
import sqlite3 as sq3

In [2]:
con = sq3.connect("new_movies.db")

In [3]:
pd.read_sql("SELECT * \
            FROM Prod", con)

,prod_id,prod_logo_path,prod_name,prod_origin_country,id
0,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,299534
1,444,/42UPdZl6B2cFXgNUASR8hSt9mpS.png,Dune Entertainment,US,19995
2,574,/iB6GjNVHs5hOqcEYt2rcjBqIjki.png,Lightstorm Entertainment,US,19995
3,25,/qZCc1lty5FzX30aOCVRBLzaVmcp.png,20th Century Fox,US,19995
4,290,/Q8mw2AOQQc8Qg0uNwLWq86DVZv.png,Ingenious Media,GB,19995
5,1634,None,Truenorth Productions,IS,140607
6,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm,US,140607
7,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,140607
8,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,299536
9,4,/fycMZt242LVjagMByZOLUGbCvv3.png,Paramount,US,597
10,574,/iB6GjNVHs5hOqcEYt2rcjBqIjki.png,Lightstorm Entertainment,US,597
11,25,/qZCc1lty5FzX30aOCVRBLzaVmcp.png,20th Century Fox,US,597
12,3341,/dTG5dXE1kU2mpmL9BNnraffckLU.png,Fuji Television Network,JP,135397
13,56,/cEaxANEisCqeEoRvODv2dO1I0iI.png,Amblin Entertainment,US,135397
14,923,/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png,Legendary Entertainment,US,135397
15,33,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,US,135397
16,1778,/69xm6sF3JxugGVjfZfm1YY6d7EE.png,Dentsu,JP,135397
17,862,/udTjbqPmcTbfrihMuLtLcizDEM1.png,The Kennedy/Marshall Company,US,135397
18,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,420818
19,7297,/l29JYQVZbTcjZXoz4CUYFpKRmM3.png,Fairview Entertainment,US,420818
20,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,24428
21,4,/fycMZt242LVjagMByZOLUGbCvv3.png,Paramount,US,24428
22,87857,None,Abu Dhabi Film Commission,,168259
23,33,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,US,168259
24,40890,None,China Film Co.,CN,168259
25,333,/5xUJfzPZ8jWJUDzYtIeuPO4qPIa.png,Original Film,US,168259
26,3341,/dTG5dXE1kU2mpmL9BNnraffckLU.png,Fuji Television Network,JP,168259
27,86352,None,Qu√©bec Production Services Tax Credit,,168259
28,87858,None,"Colorado Office of Film, Television & Media",,168259
29,1778,/69xm6sF3JxugGVjfZfm1YY6d7EE.png,Dentsu,JP,168259
30,2531,/pC2iDCDCvV85vOBP7a5Ukxuc0Du.png,Media Rights Capital,US,168259
31,1225,None,One Race,US,168259
32,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,99861
33,420,/hUzeosd33nzE5MCNsZxCGEKTXaQ.png,Marvel Studios,US,284054
34,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,284054
35,174,/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png,Warner Bros. Pictures,US,12445
36,437,/nu20mtwbEIhUNnQ5NXVhHsNknZj.png,Heyday Films,GB,12445
37,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm,US,181808
38,11092,None,Ram Bergman Productions,US,181808
39,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,181808
40,6125,/tVPmo07IHhBs4HuilrcV0yujsZ9.png,Walt Disney Animation Studios,US,330457
41,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,330457
42,56,/cEaxANEisCqeEoRvODv2dO1I0iI.png,Amblin Entertainment,US,351286
43,923,/5UQsZrfbfG2dYJbx8DxfoTr2Bvu.png,Legendary Entertainment,US,351286
44,33,/8lvHyhjr8oUKOOy2dKXoALWKdp0.png,Universal Pictures,US,351286
45,10338,/el2ap6lvjcEDdbyJoB3oKiYgXu9.png,Perfect World Pictures,CN,351286
46,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,109445
47,6125,/tVPmo07IHhBs4HuilrcV0yujsZ9.png,Walt Disney Animation Studios,US,109445
48,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,321612
49,10227,/3YfRy3DBl4abcqkzGx4RVNz12yl.png,Mandeville Films,US,321612
50,2,/wdrCwmRnLFJhEoH8GSfymY85KHT.png,Walt Disney Pictures,US,260513
51,3,/1TjvGVDMYsj6JBxOAkUHpPEwLf7.png,Pixar,US,260513

In [4]:
df = pd.read_sql("SELECT Prod.id, Prod.prod_name, Movies.revenue, Movies.title \
            FROM Prod \
            LEFT JOIN Movies \
            ON Prod.id=Movies.id \
            WHERE Movies.title LIKE'Titan%'",con)
df

    id                 prod_name      revenue    title
0  597                 Paramount  1845.034188  Titanic
1  597  Lightstorm Entertainment  1845.034188  Titanic
2  597          20th Century Fox  1845.034188  Titanic

In [5]:
df.groupby('prod_name').aggregate({'revenue':'sum'})

                              revenue
prod_name
20th Century Fox          1845.034188
Lightstorm Entertainment  1845.034188
Paramount                 1845.034188

In [6]:
df.groupby(['prod_name', 'title']).mean()

                                   id      revenue
prod_name                title
20th Century Fox         Titanic  597  1845.034188
Lightstorm Entertainment Titanic  597  1845.034188
Paramount                Titanic  597  1845.034188

In [7]:
df2 = pd.read_sql("SELECT Genres.id, Genres.genre_name, Movies.revenue, Movies.title \
                    FROM Genres \
                    LEFT JOIN Movies \
                    ON Genres.id=Movies.id", con)

In [8]:
df2

,id,genre_name,revenue,title
0,299534,Adventure,2797.800564,Avengers: Endgame
1,299534,Science Fiction,2797.800564,Avengers: Endgame
2,299534,Action,2797.800564,Avengers: Endgame
3,19995,Action,2787.965087,Avatar
4,19995,Adventure,2787.965087,Avatar
5,19995,Fantasy,2787.965087,Avatar
6,19995,Science Fiction,2787.965087,Avatar
7,140607,Action,2068.223624,Star Wars: The Force Awakens
8,140607,Adventure,2068.223624,Star Wars: The Force Awakens
9,140607,Science Fiction,2068.223624,Star Wars: The Force Awakens
10,140607,Fantasy,2068.223624,Star Wars: The Force Awakens
11,299536,Adventure,2046.239637,Avengers: Infinity War
12,299536,Action,2046.239637,Avengers: Infinity War
13,299536,Science Fiction,2046.239637,Avengers: Infinity War
14,597,Drama,1845.034188,Titanic
15,597,Romance,1845.034188,Titanic
16,135397,Action,1671.713208,Jurassic World
17,135397,Adventure,1671.713208,Jurassic World
18,135397,Science Fiction,1671.713208,Jurassic World
19,135397,Thriller,1671.713208,Jurassic World
20,420818,Adventure,1656.943394,The Lion King
21,420818,Family,1656.943394,The Lion King
22,24428,Science Fiction,1519.557910,The Avengers
23,24428,Action,1519.557910,The Avengers
24,24428,Adventure,1519.557910,The Avengers
25,168259,Action,1515.047671,Furious 7
26,168259,Thriller,1515.047671,Furious 7
27,99861,Action,1405.403694,Avengers: Age of Ultron
28,99861,Adventure,1405.403694,Avengers: Age of Ultron
29,99861,Science Fiction,1405.403694,Avengers: Age of Ultron
30,284054,Action,1346.739107,Black Panther
31,284054,Adventure,1346.739107,Black Panther
32,284054,Fantasy,1346.739107,Black Panther
33,284054,Science Fiction,1346.739107,Black Panther
34,12445,Fantasy,1341.511219,Harry Potter and the Deathly Hallows: Part 2
35,12445,Adventure,1341.511219,Harry Potter and the Deathly Hallows: Part 2
36,181808,Science Fiction,1332.539889,Star Wars: The Last Jedi
37,181808,Action,1332.539889,Star Wars: The Last Jedi
38,181808,Adventure,1332.539889,Star Wars: The Last Jedi
39,330457,Animation,1330.764959,Frozen II
40,330457,Family,1330.764959,Frozen II
41,330457,Adventure,1330.764959,Frozen II
42,351286,Action,1303.459585,Jurassic World: Fallen Kingdom
43,351286,Adventure,1303.459585,Jurassic World: Fallen Kingdom
44,351286,Science Fiction,1303.459585,Jurassic World: Fallen Kingdom
45,109445,Animation,1274.219009,Frozen
46,109445,Adventure,1274.219009,Frozen
47,109445,Family,1274.219009,Frozen
48,321612,Family,1263.521126,Beauty and the Beast
49,321612,Fantasy,1263.521126,Beauty and the Beast
50,321612,Romance,1263.521126,Beauty and the Beast
51,260513,Action,1241.891456,Incredibles 2
52,260513,Adventure,1241.891456,Incredibles 2
53,260513,Animation,1241.891456,Incredibles 2
54,260513,Family,1241.891456,Incredibles 2

In [9]:
df2.groupby('genre_name').revenue.sum()

genre_name
Action             21036.581432
Adventure          25124.972342
Animation           3846.875424
Drama               1845.034188
Family              6767.339944
Fantasy             8807.960163
Romance             3108.555314
Science Fiction    18279.642305
Thriller            3186.760879
Name: revenue, dtype: float64

In [10]:
df2.groupby('genre_name').aggregate({'revenue':'sum'}).sort_values(by='revenue', ascending=False)

                      revenue
genre_name
Adventure        25124.972342
Action           21036.581432
Science Fiction  18279.642305
Fantasy           8807.960163
Family            6767.339944
Animation         3846.875424
Thriller          3186.760879
Romance           3108.555314
Drama             1845.034188

In [11]:
#find genre_name for Frozen
pd.read_sql("SELECT Genre_name, Movies.title \
            FROM Movies \
            LEFT JOIN Genres \
            ON Movies.id = Genres.id \
            WHERE Movies.title LIKE 'Frozen%'", con)

  genre_name      title
0  Adventure  Frozen II
1  Animation  Frozen II
2     Family  Frozen II
3  Adventure     Frozen
4  Animation     Frozen
5     Family     Frozen

In [12]:
con.close()